.card{
    height: 300px;
    width: 400px;
    overflow: hidden;

}
.card img {
    height: auto;
    width: 400px;
   }

.form{
    background-color: olive;
}

.container {    
    border-radius: 5px;    
      
    padding: 20px;
       
  }  
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

body{
    background-color: palevioletred;
  }
  
  
